body{
    font-family: Roboto, sans serif;
    margin: 0px;
}

.top{
    background-color: #1F2937;
    color: white;
    height: 600px
}

.headers{
    display: flex;
    justify-content: space-evenly;
    margin: 0x 350px;
}

.header{
    display: flex;
    align-items: flex-start;
    margin-right: 300px;
}

.bar{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 450px;
    flex-shrink: 1;
    color: #E5E7EB;
}

.links{
    font-weight: 400;
    font-size: 18px;
}

.hero{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 200px 0px 200px;
    height: 250px
}

.hero-text{
    width: 750px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 500px;
    margin: 0px;
}

.hero-sub-text{
    font-size: 18px;
    font-weight: 450;
    color: rgb(185, 184, 184);
    width: 450px;
    margin: 0px
}

button{
    margin-top: 15px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #3B82F6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.hero-image{
    width: 700px; 
    height: 250px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.middle{
    background-color: #ffffff;
    color: #1F2937;
    height: 450px
}

.header-m{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 0px 0px;
    font-size: 36px;
    font-weight: 900;
}

.boxes{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 300px;
    margin-top: 50px;
}

.box-text{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.box{
  width: 150px;
  height: 150px;
  border: 5px solid #3B82F6;
  border-radius: 12px;
}

.box-footer{
    width: 175px;
    font-size: 18px;
    font-weight: 450;
    color: rgb(138, 139, 141);
    text-align: center;
    margin-top: 10px
}


.bottom{
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text{
    font-size: 36px;
    font-weight: 300;
    width: 900px;
    margin: 0px;
    font-style: italic;
    color: #515e70;
}

.quote-author{
    width: 750px;
    margin: 0px;
   display: flex;
   justify-content: flex-end;
}

.author{
    margin: 0px;
}

.bottom-02{
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle{
    width: 1100px;
    height: 175px;
    background-color: #3B82F6;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.left-side{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-01{
    font-size: 30px;
    margin: 0px;
}

.text-02{
    font-size: 18px;
    font-weight: 450;
    margin: 0px;
    color:  rgb(214, 212, 212)
}

.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-button{
    border: white 2px solid;
    margin: 0px;
    width: 150px;
}

.footer{
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    color: rgb(229, 229, 229);
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
}